/*
body {
background-image: image-url('time_machine.png');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}
*/

.logo {
font-family: 'Playfair Display', serif;
color: black;
height: 100%;
position: relative;
left: 450px;
top: 150px;
}

.ghost-button {
  color: red;
  font-size: 15px;
  border: 1px solid red;
  display: block;
  position: absolute;
  top: 150px;
  margin-left: -85px;
  margin-bottom: 25px;
  width: 300px;
  left: 100px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.ghost-button-2 {
  color: black;
  font-size: 15px;
  border: 1px solid red;
  display: block;
  position: absolute;
  top: 105px;
  margin-left: -85px;
  margin-bottom: 25px;
  width: 300px;
  left: 100px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
