// Place all the styles related to the playlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-copy {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}

.type {
  margin-bottom: 2px;
  color: red;
}

#element-title {
  font-family: 'Roboto', sans-serif;  
  font-weight: 700;
  margin-top: 0px;
  display: inline-block
}
